@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply text-white bg-center bg-no-repeat bg-cover bg-fixed;
    background-image: url('./hero.png');
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}